@import './fontsandcolors';

button{
    margin-top: 0.5em;
    display: inline-block;
    padding: 0.25em 2.2em;
    border-radius: 0.1em;
    border: 0.1em solid white;
    height: 1.8em;
    box-sizing: border-box;
    background-color: $backcolor;
    color:white;
    
}
button:hover{
    color:grey;
    background-color:lighter($backcolor, 10%);
 }
 a.button1{
    margin: 2em;
    display: inline-block;
    padding: .25em 1.6em;
    border: 0.1em solid white;
    border-radius: 0.12 em;
    box-sizing: border-box;
    text-decoration: none;
    color:white;
    transition: all 0.2s;
    
}
a.button2{
   margin: 1em;
   padding: .2em;
   background-color: $headerbg;
   color: white;
   border-radius: 1.5em;


}
a.button2:hover{
    background-color:lighter($backcolor, 10%);
}
a.button1:hover{
    color:grey;
    background-color:lighter($backcolor, 10%);
  }
  input[type = text]{
    background-color: lighten($backcolor,30%);
    border-radius: 1em;
    border-width: 0.1em;
    color:white;
}
