/*
$headerbg:rgb(43, 49, 54);
$backcolor:rgb(43, 49, 54);
@import url("https://use.typekit.net/ilc1dyh.css");
$appFont: 'Myriad pro'
*/
@import './fontsandcolors';
@import './buttonsetc'
@import './navbar';
body{
    font-family:$appFont;
    padding: 0;
    margin:0;
    background-color:$backcolor;
}


.right{
    display: none;
}
.main_area{
    display: grid;
    grid-template-columns: 60% auto;
        height: 1fr;
     
   
        background-color: rgb(69, 71, 71);
        color:white;
      padding: 2em;
      font-size: xx-large;
      .line2{
          padding-left: 1em;
      }
      .line3{
          padding-left: 2em;
      }
      .circle{
          padding: 0;
          margin: 0;
          place-content: center;
        width: 150px;
        height: 150px;
       // line-height: 200px;
        border-radius: 50%;
        border-style:solid;
        border-color: white;
        border-width: .5px;
        
        font-size:medium;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0,0.1);
        display: grid;
        align-items: left;
        
        .mainText{
            grid-row: 1 / span 2;
            grid-column: 1/span 2;
            padding-top: .2em;
            padding-left: 0;
            font-size:xxx-large;
            padding-bottom: -1em;
            margin:0;
        }
        .subText{
            grid-row: 2;
            grid-column: 1;
            float: left;
            margin:-1;
            
            padding-top: -2em;
            padding-left: .2em;
            font-size: small;
        }
      }
     

} 

@media only screen and (min-width: 780px){
body{
display: grid;
grid-template-columns: 60% auto;
grid-template-rows: 8em 18em auto;
}
.nav-container{
    padding-left: 2.5em;
   
}
.main_area{
    grid-column: 1;
    align-items:center;
    height:2fr;
    grid-row: 2;
    
    .circle{
        padding-left: 15 em;
        padding-top:10 em;
    }
}
a.button1{
    grid-template-rows: 3;
    grid-template-columns: 1;
    width: 12em;
}
.right{
    display: initial;
    grid-column: 2;
    grid-row: 1 / 3;
}


} 
  