@import url("https://use.typekit.net/ilc1dyh.css");
@import url("https://use.typekit.net/ilc1dyh.css");
@import url("https://use.typekit.net/ilc1dyh.css");
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

div {
  padding: 0;
  margin: 0;
}

body {
  background-color: #454747;
  color: white;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input[type=text] {
  background-color: #919494;
  border-radius: 1em;
  border-width: 0.1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

div {
  padding: 0;
  margin: 0;
}

body {
  background-color: #454747;
  color: white;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input[type=text] {
  background-color: #919494;
  border-radius: 1em;
  border-width: 0.1em;
}

button {
  margin-top: 0.5em;
  display: inline-block;
  padding: 0.25em 2.2em;
  border-radius: 0.1em;
  border: 0.1em solid white;
  height: 1.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #454747;
  color: white;
}

button:hover {
  color: grey;
  background-color: lighter(#454747, 10%);
}

a.button1 {
  margin: 2em;
  display: inline-block;
  padding: .25em 1.6em;
  border: 0.1em solid white;
  border-radius: 0.12 em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.button2 {
  margin: 1em;
  padding: .2em;
  background-color: #2b3136;
  color: white;
  border-radius: 1.5em;
}

a.button2:hover {
  background-color: lighter(#454747, 10%);
}

a.button1:hover {
  color: grey;
  background-color: lighter(#454747, 10%);
}

input[type=text] {
  background-color: #919494;
  border-radius: 1em;
  border-width: 0.1em;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

div {
  padding: 0;
  margin: 0;
}

body {
  background-color: #454747;
  color: white;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input[type=text] {
  background-color: #919494;
  border-radius: 1em;
  border-width: 0.1em;
}

.nav-container {
  font-family: "Myriad pro";
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #2b3136;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em;
}

.nav-container ul {
  font-size: xxx-large;
}

.nav-container .links ul {
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .links ul a {
  display: block;
  padding: 1em 1em;
}

body {
  font-family: "Myriad pro";
  padding: 0;
  margin: 0;
  background-color: #454747;
  display: -ms-grid;
  display: grid;
}

table {
  padding: 2em;
  margin: 1em;
  background-color: #2b3136;
  -webkit-columns: white;
          columns: white;
}

.vocab {
  display: inline-block;
  margin: 2em;
  padding: 2em;
}

.maintainText {
  font-size: x-large;
  padding-bottom: 2em;
}
/*# sourceMappingURL=maintainMenu.css.map */