/*
$headerbg:rgb(43, 49, 54);
$backcolor:rgb(43, 49, 54);
@import url("https://use.typekit.net/ilc1dyh.css");
$appFont: 'Myriad pro'
*/
@import url("https://use.typekit.net/ilc1dyh.css");
@import url("https://use.typekit.net/ilc1dyh.css");
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

div {
  padding: 0;
  margin: 0;
}

body {
  background-color: #454747;
  color: white;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input[type=text] {
  background-color: #919494;
  border-radius: 1em;
  border-width: 0.1em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

div {
  padding: 0;
  margin: 0;
}

body {
  background-color: #454747;
  color: white;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input[type=text] {
  background-color: #919494;
  border-radius: 1em;
  border-width: 0.1em;
}

.nav-container {
  font-family: "Myriad pro";
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #2b3136;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em;
}

.nav-container ul {
  font-size: xxx-large;
}

.nav-container .links ul {
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container .links ul a {
  display: block;
  padding: 1em 1em;
}

body {
  font-family: "Myriad pro";
  padding: 0;
  margin: 0;
  background-color: #454747;
}

a.button1 {
  margin: 2em;
  display: inline-block;
  padding: .25em 1.6em;
  border: 0.1em solid white;
  border-radius: 0.12 em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.button1:hover {
  color: grey;
  background-color: lighter(#454747, 10%);
}

.right {
  display: none;
}

.main_area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  height: 1fr;
  background-color: #454747;
  color: white;
  padding: 2em;
  font-size: xx-large;
}

.main_area .line2 {
  padding-left: 1em;
}

.main_area .line3 {
  padding-left: 2em;
}

.main_area .circle {
  padding: 0;
  margin: 0;
  place-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: .5px;
  font-size: medium;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.main_area .circle .mainText {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
  padding-top: .2em;
  padding-left: 0;
  font-size: xxx-large;
  padding-bottom: -1em;
  margin: 0;
}

.main_area .circle .subText {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  float: left;
  margin: -1;
  padding-top: -2em;
  padding-left: .2em;
  font-size: small;
}

@media only screen and (min-width: 780px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% auto;
        grid-template-columns: 60% auto;
    -ms-grid-rows: 8em 18em auto;
        grid-template-rows: 8em 18em auto;
  }
  .nav-container {
    padding-left: 2.5em;
  }
  .main_area {
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 2fr;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .main_area .circle {
    padding-left: 15 em;
    padding-top: 10 em;
  }
  a.button1 {
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    width: 12em;
  }
  .right {
    display: initial;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}
/*# sourceMappingURL=main.css.map */