$headerbg:rgb(4, 14, 6);
$backcolor:lighen($headerbg, 40%);
@import url("https://use.typekit.net/ilc1dyh.css");
body{
    font-family:'Myriad pro';
    padding: 0;
    margin:0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:white;
}
div{
    padding: 0;
    margin: 0;
}
.nav-container{
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(43, 49, 54);
    display: flex;
    justify-content: space-between;
    padding: 2em;
    ul{
        font-size:xxx-large;
    }
    .links{
        ul{
            font-size: small;
            display: flex;
            a{
                display: block;
                padding: 1em 1em;
            }
        }
    }
}  
.right{
    visibility: hidden;
}
.main_area{
    display: grid;
    grid-template-columns: 60% auto;
        height: 400px;
        border-width: 1px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        background-color: rgb(69, 71, 71);
        color:white;
      padding: 2em;
      font-size: xx-large;
      .line2{
          padding-left: 1em;
      }
      .line3{
          padding-left: 2em;
      }
      .circle{
          padding: 0;
          margin: 0;
          place-content: center;
        width: 150px;
        height: 150px;
       // line-height: 200px;
        border-radius: 50%;
        border-style:solid;
        border-color: white;
        border-width: .5px;
        
        font-size:medium;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0,0.1);
        display: grid;
        align-items: left;
        
        .mainText{
            grid-row: 1 / span 2;
            grid-column: 1/span 2;
            padding-top: .2em;
            padding-left: 0;
            font-size:xxx-large;
            padding-bottom: -1em;
            margin:0;
        }
        .subText{
            grid-row: 2;
            grid-column: 1;
            float: left;
            margin:-1;
            
            padding-top: -2em;
            padding-left: .2em;
            font-size: small;
        }
      }

}  
  