<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
   <div class="nav-container">
       <ul>
          <li><a href="layout.html">Po-ligo</a></li> 
       </ul>
       <div class="links">
           <ul>
               <li><a href="#">Log in</a></li>
               <li><a href="#">Info</a></li>
           </ul>
       </div>
   </div>
  
   <div class="main_area">
        <div class="text">
            <div class="line1">Online</div>
            <div class="line2">portuguése</div>
            <div class="line3">trainer</div>
        </div>
       <div class="circle"><div class="mainText"><a href="#">Start</a> </div> <div class="subText">as guest</div></div>
   </div>

<div class="right"><img src="landscape-1.jpeg" alt=""></div>
</body>
</html>